/* @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-200 
}

.primary-width{
@apply w-[90%] md:w-[80%] lg:w-[60%]  mx-auto
}
/* .dark{
@apply text-white
} */
 /* font-family: "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
