@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
html,body {
  scroll-behavior: smooth;
   scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
*{
  @apply transition-colors duration-200 
}

.primary-width{
@apply w-[90%] md:w-[80%] lg:w-[60%]  mx-auto
}
.dark{
@apply text-zinc-800 dark:text-white
}
.light{
@apply text-white dark:text-zinc-800
}
.darkdiv{
@apply bg-zinc-800 dark:bg-white
}
.lightdiv{
@apply bg-white dark:bg-zinc-800
}
.softdark{
 @apply text-["#a1a1aa"] dark:text-white
}
.dashboard-input{
 @apply input input-bordered border-zinc-300 rounded-sm w-full bg-white placeholder-gray-400 text-black
}

.glassCard{
  background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

